# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Build outputs
dist/
build/
*.tsbuildinfo

# Testing
coverage/

# Reports and logs
reports/
logs/
*.log
screenshots/
cucumber-report.html

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Appium & Mobile specific
*.app
*.apk
*.ipa
.tmp
tmp/ 